@import url(https://fonts.googleapis.com/css2?family=Jura&display=swap);

@charset "UTF-8";

@font-face {
  font-family: DaysOne;
  font-display: swap;
  src: url("../fonts/DaysOne-Regular.woff2") format("woff2"), url("../fonts/DaysOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Jura;
  font-display: swap;
  src: url("../fonts/Jura.woff2") format("woff2"), url("../fonts/Jura.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Montserrat";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  background-color: #2C2E34;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  position: relative;
  padding: 0 0.9375rem;
}

.form {
  position: relative;
  padding: 20px;
  background-color: #375EFF;
  border-radius: 15px;
  z-index: 1;
}

.form::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(55, 94, 255, 0.5) url("../img/icons/loading.gif") center/50px no-repeat;
  z-index: 101;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__row {
  display: block;
  position: relative;
  text-align: center;
}

.form__row:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.form__row p {
  margin-bottom: 1.25rem;
}

.form__error {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  left: 25px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 20px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  border-radius: 47px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  color: #375EFF;
  background-color: #fff;
  width: 100%;
}

.button.fw {
  width: 100%;
}

.button-dark {
  background: #000000;
  color: #fff;
}

.button-white {
  background: #fff;
  color: #000;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 22px 40px;
  border: 1px solid #2742B3;
  background: #2742B3;
  border-radius: 47px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
}

.input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.43;
}

.input::-moz-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.43;
}

.input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.43;
}

.input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.43;
}

.input::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.43;
}

.input._form-error {
  border: 1px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  border-radius: 35px;
  color: #375EFF;
  padding: 22px 35px;
  background-color: #fff;
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

.section {
  margin-bottom: 6.25rem;
}

.section-title {
  font-family: "DaysOne";
  font-weight: 400;
  text-align: center;
}

.section-title span {
  background: -o-linear-gradient(190.75deg, #375EFF 2.82%, #8453F0 12.99%, #AD46DF 23.16%, #CB3ACB 33.33%, #E032B7 43.51%, #EF30A2 53.68%, #F9368F 63.85%, #FE427D 74.02%, #FF516C 84.2%, #FD605E 94.37%);
  background: linear-gradient(259.25deg, #375EFF 2.82%, #8453F0 12.99%, #AD46DF 23.16%, #CB3ACB 33.33%, #E032B7 43.51%, #EF30A2 53.68%, #F9368F 63.85%, #FE427D 74.02%, #FF516C 84.2%, #FD605E 94.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
}

.social__item {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 8px;
}

.social__item:hover svg {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.block-shadow__orang {
  position: absolute;
  width: 408px;
  height: 395px;
  border-radius: 50%;
  background: #FD605E;
  -webkit-filter: blur(120px);
          filter: blur(120px);
  z-index: -1;
}

.block-shadow__blue {
  position: absolute;
  width: 491px;
  height: 515px;
  border-radius: 50%;
  background: #375EFF;
  -webkit-filter: blur(188.294px);
          filter: blur(188.294px);
  -webkit-transform: rotate(0.8deg);
      -ms-transform: rotate(0.8deg);
          transform: rotate(0.8deg);
}

.block-shadow__pink {
  position: absolute;
  width: 403px;
  height: 358px;
  border-radius: 50%;
  z-index: -1;
  background: #EF30A2;
  -webkit-filter: blur(95px);
          filter: blur(95px);
  -webkit-transform: rotate(0.8deg);
      -ms-transform: rotate(0.8deg);
          transform: rotate(0.8deg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header._header-scroll {
  background-color: #2C2E34;
  border-bottom: 1px solid #C0C0C2;
}

.header._header-scroll .header__body {
  border: none;
}

.header__container {
  max-width: 72.875rem;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #C0C0C2;
}

.menu-open .menu__body {
  right: 0;
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #FD605E;
}

.menu__link._navigator-active {
  color: #FD605E;
}

.phone {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 600;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.phone:hover {
  color: #FD605E;
}

.icon-menu {
  display: none;
}

.footer {
  padding-bottom: 63px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-size: 1.375rem;
  line-height: 1.2272727273;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.footer__navigation-item:not(:last-child),
.footer__documents-item:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__navigation-link,
.footer__documents-link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__navigation-link:hover,
.footer__documents-link:hover {
  color: #FD605E;
}

.intro {
  padding-top: 152px;
  padding-bottom: 58px;
  text-align: center;
}

.intro__container {
  position: relative;
  max-width: 56.625rem;
}

.intro__img-wrapper {
  max-width: 160px;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.intro__img {
  border-radius: 50%;
}

.intro__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.intro__img-big {
  width: 120px;
}

.intro__img-sm {
  width: 100px;
  margin-left: auto;
}

.intro__body {
  position: relative;
  z-index: 1;
}

.intro__text {
  font-size: 1.5625rem;
  line-height: 1.24;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.intro__title {
  font-family: "DaysOne", sans-serif;
  font-size: 1.625rem;
  line-height: 1.3076923077;
  margin-bottom: 2.5rem;
}

.intro__label {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #375EFF;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}

.intro__label span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.1818181818;
}

.intro__label span:last-child {
  font-size: 0.9375rem;
  font-weight: 400;
}

.intro .block-shadow__orang {
  top: -18px;
  right: 130px;
}

.intro .block-shadow__blue {
  left: 0;
  top: 0;
}

.intro .block-shadow__pink {
  top: 0;
  left: 126px;
}

.goal__title {
  margin-bottom: 3.75rem;
}

.goal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goal__item-icon {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -o-linear-gradient(190.75deg, #375EFF 2.82%, #8453F0 12.99%, #AD46DF 23.16%, #CB3ACB 33.33%, #E032B7 43.51%, #EF30A2 53.68%, #F9368F 63.85%, #FE427D 74.02%, #FF516C 84.2%, #FD605E 94.37%);
  background: linear-gradient(259.25deg, #375EFF 2.82%, #8453F0 12.99%, #AD46DF 23.16%, #CB3ACB 33.33%, #E032B7 43.51%, #EF30A2 53.68%, #F9368F 63.85%, #FE427D 74.02%, #FF516C 84.2%, #FD605E 94.37%);
  margin-bottom: 1.8125rem;
}

.speaker__body {
  position: relative;
  background: #375EFF;
  border-radius: 37px;
  overflow: hidden;
  z-index: 0;
  padding: 25px 15px 0 15px;
}

.speaker__name {
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.speaker__info-icon {
  margin-bottom: 1.125rem;
}

.speaker__cases {
  width: 100%;
  position: absolute;
  bottom: -140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 57px;
  gap: 20px;
}

.speaker__cases img {
  max-width: 100%;
}

.program__list {
  counter-reset: counter;
}

.program__item {
  counter-increment: counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__item:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.program__item::before {
  content: counter(counter);
  font-family: "DaysOne", sans-serif;
  font-size: 3.125rem;
  line-height: 1.26;
  font-weight: 400;
  margin-right: 11px;
  width: 40px;
  background: -o-linear-gradient(199.53deg, #375EFF 42.1%, #8453F0 47.51%, #AD46DF 52.91%, #CB3ACB 58.32%, #E032B7 63.73%, #EF30A2 69.13%, #F9368F 74.54%, #FE427D 79.95%, #FF516C 85.35%, #FD605E 90.76%);
  background: linear-gradient(250.47deg, #375EFF 42.1%, #8453F0 47.51%, #AD46DF 52.91%, #CB3ACB 58.32%, #E032B7 63.73%, #EF30A2 69.13%, #F9368F 74.54%, #FE427D 79.95%, #FF516C 85.35%, #FD605E 90.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.program__content {
  margin-bottom: 5rem;
}

.program__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 460px;
          flex: 0 0 460px;
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 377px;
  background: #375EFF;
  border-radius: 37px;
  padding-bottom: 30px;
  margin-top: 20px;
}

.program__img img {
  max-width: 100%;
  width: 320px;
  height: 320px;
  margin-bottom: 10px;
  margin-top: -34px;
}

.program__img p {
  text-align: center;
  line-height: 150%;
  margin-top: -3.125rem;
}

.program .block-shadow__blue {
  right: -150px;
  top: -50px;
  z-index: -1;
}

.program .block-shadow__blue::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 30px;
  width: 372px;
  height: 321px;
  border-radius: 50%;
  background: #375EFF;
  -webkit-filter: blur(222px);
          filter: blur(222px);
}

.program .block-shadow__orang {
  left: -190px;
  top: -50px;
}

.skills {
  margin-bottom: 5.1875rem;
}

.skills__title {
  font-weight: 700;
  margin-bottom: 2.75rem;
}

.skills__title span {
  color: #EF5DA8;
  background: none;
  -webkit-text-fill-color: inherit;
}

.skills__list-item {
  position: relative;
  font-size: 0.875rem;
  padding-left: 30px;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

.skills__list-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.skills__list-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  background-image: url(../img/icons/arrow-acent.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 37px;
  height: 17px;
}

.skills .block-shadow__orang {
  position: absolute;
  right: -70px;
  bottom: -150px;
  -webkit-filter: blur(60px);
          filter: blur(60px);
}

.callback__title {
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
}

.callback__content-title {
  font-family: "DaysOne", sans-serif;
  font-weight: 400;
  font-size: 2.0625rem;
  line-height: 1.303030303;
  background: -o-linear-gradient(190.75deg, #375EFF 2.82%, #8453F0 12.99%, #AD46DF 23.16%, #CB3ACB 33.33%, #E032B7 43.51%, #EF30A2 53.68%, #F9368F 63.85%, #FE427D 74.02%, #FF516C 84.2%, #FD605E 94.37%);
  background: linear-gradient(259.25deg, #375EFF 2.82%, #8453F0 12.99%, #AD46DF 23.16%, #CB3ACB 33.33%, #E032B7 43.51%, #EF30A2 53.68%, #F9368F 63.85%, #FE427D 74.02%, #FF516C 84.2%, #FD605E 94.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 1.25rem;
}

.callback__content-text {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.callback__content-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.callback__content-list li:not(:last-child) {
  margin-bottom: 1.875rem;
}

.callback__content-list li span {
  font-family: "Jura";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1875;
  background: -o-linear-gradient(190.75deg, #375EFF 2.82%, #8453F0 12.99%, #AD46DF 23.16%, #CB3ACB 33.33%, #E032B7 43.51%, #EF30A2 53.68%, #F9368F 63.85%, #FE427D 74.02%, #FF516C 84.2%, #FD605E 94.37%);
  background: linear-gradient(259.25deg, #375EFF 2.82%, #8453F0 12.99%, #AD46DF 23.16%, #CB3ACB 33.33%, #E032B7 43.51%, #EF30A2 53.68%, #F9368F 63.85%, #FE427D 74.02%, #FF516C 84.2%, #FD605E 94.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.callback .block-shadow__blue {
  width: 596px;
  height: 515px;
  top: 80px;
  right: -80px;
}

.callback .block-shadow__orang {
  top: -108px;
  right: -242px;
  width: 530px;
  height: 527px;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

@media (min-width: 37.5em) {
  .speaker__body {
    padding: 20px 15px 0 25px;
  }

  .speaker__img {
    margin-top: -323px;
  }
}

@media (min-width: 47.99875em) {
  .header__phone {
    margin-left: auto;
    margin-right: 7px;
  }

  .footer__phone {
    font-size: 1.375rem;
    line-height: 1.2272727273;
  }

  .intro__img-wrapper {
    display: none;
  }

  .intro__label {
    position: absolute;
    top: -55px;
    right: -136px;
    width: 120px;
    height: 120px;
  }

  .goal__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }

  .goal__item-text {
    font-size: 0.875rem;
  }

  .speaker__name {
    font-size: 2.625rem;
    line-height: 1.1904761905;
  }

  .skills__list {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    -webkit-column-gap: 49px;
       -moz-column-gap: 49px;
            column-gap: 49px;
  }
}

@media (min-width: 61.99875em) {
  .form {
    padding: 37px;
  }

  .section-title {
    font-size: 2.75rem;
    line-height: 1.1818181818;
    margin-bottom: 1.875rem;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__item:not(:last-child) {
    margin-right: 25px;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .footer__column:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__column-inner {
    margin-right: 40px;
  }

  .goal__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 225px;
            flex: 0 1 225px;
  }

  .goal__item-text {
    font-size: initial;
  }

  .program__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}

@media (min-width: 75em) {
  .form {
    padding: 46px 35px;
    border-radius: 30px;
  }

  .header__logo {
    margin-right: 114px;
  }

  .menu__item:not(:last-child) {
    margin-right: 45px;
  }

  .footer__body {
    padding: 0 45px;
  }

  .footer__column-inner {
    margin-right: 85px;
  }

  .intro__title {
    position: relative;
    font-size: 3.375rem;
    line-height: 1.2592592593;
    margin-bottom: 4.125rem;
  }

  .intro__label {
    top: -70px;
    right: -130px;
    width: 151px;
    height: 151px;
  }

  .speaker {
    margin-bottom: 16.25rem;
  }

  .speaker__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 65px 0 0 65px;
  }

  .speaker__name {
    font-size: 3.125rem;
    line-height: 1.2;
  }

  .speaker__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: -166px;
    gap: 47px;
  }

  .speaker__info-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 275px;
            flex: 0 1 275px;
  }

  .speaker__info-item:nth-child(even) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 368px;
            flex: 0 1 368px;
  }

  .speaker__img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: -70px;
  }

  .skills__list-item {
    font-size: 1.5rem;
    padding-left: 47px;
  }

  .skills__list-item:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .callback__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 168px;
       -moz-column-gap: 168px;
            column-gap: 168px;
  }

  .callback__body > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 75em) {
  .header__logo {
    margin-right: 40px;
  }

  .intro__text {
    font-size: 1rem;
  }

  .speaker__info-item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .speaker__img {
    position: relative;
    right: -15px;
    max-width: 100%;
    margin-left: auto;
    display: block;
    width: 352px;
  }

  .speaker__cases {
    display: none;
  }

  .skills__title {
    font-size: 2rem;
  }

  .skills__list-item::before {
    width: 20px;
    height: 10px;
  }

  .callback__content {
    margin-bottom: 3.125rem;
  }

  .callback .block-shadow__blue {
    right: 0;
    top: auto;
    bottom: -150px;
    width: 350px;
    height: 450px;
  }

  .callback .block-shadow__orang {
    top: 383px;
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 61.99875em) {
  body {
    font-size: 0.875rem;
    line-height: 1.2857142857;
  }

  .button {
    padding: 16px;
    font-size: 0.875rem;
  }

  .input {
    padding: 16px;
    font-size: 0.875rem;
  }

  .input::-webkit-input-placeholder {
    font-size: 0.875rem;
  }

  .input::-moz-placeholder {
    font-size: 0.875rem;
  }

  .input:-ms-input-placeholder {
    font-size: 0.875rem;
  }

  .input::-ms-input-placeholder {
    font-size: 0.875rem;
  }

  .input::placeholder {
    font-size: 0.875rem;
  }

  .btn {
    padding: 15px 35px;
  }

  .section-title {
    font-size: 2rem;
    line-height: 1.375;
    margin-bottom: 1.25rem;
  }

  .menu__body {
    position: fixed;
    top: 77px;
    right: -200%;
    width: 360px;
    height: 100%;
    background-color: #161616;
    -webkit-transition: right 0.4s ease 0s;
    -o-transition: right 0.4s ease 0s;
    transition: right 0.4s ease 0s;
    z-index: 9;
  }

  .menu__list {
    padding: 40px;
  }

  .menu__item {
    text-align: center;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .menu__link {
    font-size: 22px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 20;
    margin-left: 20px;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .goal__item-icon {
    width: 103px;
    height: 103px;
    margin-bottom: 0.9375rem;
  }

  .goal__item-icon img {
    width: 100%;
  }

  .program__item::before {
    font-size: 1.875rem;
    line-height: 1.4333333333;
    width: 20px;
  }

  .callback__content-title {
    font-size: 1.5rem;
  }

  .callback__content-text {
    font-size: 1rem;
  }

  .callback__content-list li:not(:last-child) {
    margin-bottom: 1rem;
  }

  .callback__content-list li span {
    font-size: 1.125rem;
  }
}

@media (max-width: 47.99875em) {
  .section {
    margin-bottom: 3.75rem;
  }

  .social {
    margin-bottom: 1.25rem;
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .footer__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 1.875rem;
  }

  .intro__label {
    position: absolute;
    top: 45px;
    left: 25px;
  }

  .intro__label span {
    font-size: 1rem;
  }

  .intro__label span:last-child {
    font-size: 0.75rem;
  }

  .intro .block-shadow__orang {
    display: none;
  }

  .intro .block-shadow__blue {
    z-index: -1;
  }

  .intro .block-shadow__pink {
    -webkit-filter: blur(166px);
            filter: blur(166px);
  }

  .goal__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .goal__item:not(:last-child) {
    margin-bottom: 1.8125rem;
  }

  .goal__item-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 103px;
            flex: 0 0 103px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .speaker__name {
    font-size: 1.75rem;
    line-height: 1.1428571429;
  }

  .program__item {
    font-size: 12px;
    line-height: 1.5;
  }

  .program__item:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .skills__title {
    font-size: 26px;
  }
}

@media (max-width: 37.5em) {
  .form {
    margin-bottom: 40px;
  }

  .program__img {
    min-height: 315px;
  }
}

@media (max-width: 29.99875em) {
  .intro__btn {
    -webkit-filter: drop-shadow(0px 4px 29px rgba(255, 255, 255, 0.75));
            filter: drop-shadow(0px 4px 29px rgba(255, 255, 255, 0.75));
  }

  .menu__body {
    width: 100%;
  }

  .intro {
    min-height: 100vh;
    padding-top: 110px;
    text-align: center;
  }
}

@media (min-width: 47.99875em) and (max-width: 75em) {
  [class*=__container] {
    padding: 0 3.5rem;
  }

  .intro__title {
    position: relative;
    font-size: 2.25rem;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 37.5em) and (max-width: 47.99875em) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .footer__phone {
    display: block;
    margin-top: 40px;
  }

  .goal__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 175px;
            flex: 0 1 175px;
  }
}

@media (min-width: 37.5em) and (max-width: 75em) {
  .speaker__info {
    width: 60%;
  }
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }

  .btn:hover {
    background-color: #FD605E;
    color: #fff;
  }
}